= form_for @order_address, url: order_address_url, method: method_define(@order_address), remote: true do |f|
  .col-md-5.billing-address-container-checkout
    %h3.general-subtitle.mt-0= t('settings_page.billing_address')
    %p.general-info-text all fields are required

    .form-group{ class: ("has-error" if !@order_address.errors[:billing_first_name].empty?) }
      = f.label :billing_first_name, t('settings_page.first_name'), class: 'control-label input-label'
      = f.text_field :billing_first_name, class: 'form-control', placeholder: t('settings_page.first_name'), value: initial_billing_value(:first_name)
      -if !@order_address.errors[:billing_first_name].empty?
        %span.help-block= "#{t('settings_page.first_name')} #{@order_address.errors[:billing_first_name][0]}" 

    .form-group{ class: ("has-error" if !@order_address.errors[:billing_last_name].empty?) }
      = f.label :billing_last_name, t('settings_page.last_name'), class: 'control-label input-label'
      = f.text_field :billing_last_name, class: 'form-control', placeholder: t('settings_page.last_name'), value: initial_billing_value(:last_name)
      -if !@order_address.errors[:billing_last_name].empty?
        %span.help-block= "#{t('settings_page.last_name')} #{@order_address.errors[:billing_last_name][0]}" 

    .form-group{ class: ("has-error" if !@order_address.errors[:billing_address].empty?) }
      = f.label :billing_address, t('settings_page.address'), class: 'control-label input-label'
      = f.text_field :billing_address, class: 'form-control', placeholder: t('settings_page.address'), value: initial_billing_value(:address)
      -if !@order_address.errors[:billing_address].empty?
        %span.help-block= "#{t('settings_page.address')} #{@order_address.errors[:billing_address][0]}" 

    .form-group{ class: ("has-error" if !@order_address.errors[:billing_city].empty?) }
      = f.label :billing_city, t('settings_page.city'), class: 'control-label input-label'
      = f.text_field :billing_city, class: 'form-control', placeholder: t('settings_page.city'), value: initial_billing_value(:city)
      -if !@order_address.errors[:billing_city].empty?
        %span.help-block= "#{t('settings_page.city')} #{@order_address.errors[:billing_city][0]}" 

    .form-group{ class: ("has-error" if !@order_address.errors[:billing_zip].empty?) }
      = f.label :billing_zip, t('settings_page.zip'), class: 'control-label input-label'
      = f.text_field :billing_zip, class: 'form-control', placeholder: t('settings_page.zip'), value: initial_billing_value(:zip)
      -if !@order_address.errors[:billing_zip].empty?
        %span.help-block= "#{t('settings_page.zip')} #{@order_address.errors[:billing_zip][0]}" 

    .form-group.select{ class: ("has-error" if !@order_address.errors[:billing_country].empty?) }
      = f.label :billing_country, t('settings_page.country'), class: 'control-label input-label'
      = f.country_select(:billing_country, {selected: @selected_bill}, {class: "form-control", placeholder: t('settings_page.country_placeholder')})
      -if !@order_address.errors[:billing_country].empty?
        %span.help-block= "#{t('settings_page.country')} #{@order_address.errors[:billing_country][0]}" 

    .form-group{ class: ("has-error" if !@order_address.errors[:billing_phone].empty?) }
      = f.label :billing_phone, t('settings_page.phone'), class: 'control-label input-label'
      = f.text_field :billing_phone, class: 'form-control', placeholder: t('settings_page.phone_placeholder'), value: @phone_code_bill
      -if !@order_address.errors[:billing_phone].empty?
        %span.help-block= "#{t('settings_page.phone')} #{@order_address.errors[:billing_phone][0]}" 
  .col-md-5.col-md-offset-1.shipping-address-container-checkout
    .wrapper
      %h3.general-subtitle.mt-0= t('settings_page.shipping_address')
      %p.general-info-text all fields are required

      .form-group{ class: ("has-error" if !@order_address.errors[:shipping_first_name].empty?) }
        = f.label :shipping_first_name, t('settings_page.first_name'), class: 'control-label input-label'
        = f.text_field :shipping_first_name, class: 'form-control', placeholder: t('settings_page.first_name'), value: initial_shipping_value(:first_name)
        -if !@order_address.errors[:shipping_first_name].empty?
          %span.help-block= "#{t('settings_page.first_name')} #{@order_address.errors[:shipping_first_name][0]}" 

      .form-group{ class: ("has-error" if !@order_address.errors[:shipping_last_name].empty?) }
        = f.label :shipping_last_name, t('settings_page.last_name'), class: 'control-label input-label'
        = f.text_field :shipping_last_name, class: 'form-control', placeholder: t('settings_page.last_name'), value: initial_shipping_value(:last_name)
        -if !@order_address.errors[:shipping_last_name].empty?
          %span.help-block= "#{t('settings_page.last_name')} #{@order_address.errors[:shipping_last_name][0]}" 

      .form-group{ class: ("has-error" if !@order_address.errors[:shipping_address].empty?) }
        = f.label :shipping_address, t('settings_page.address'), class: 'control-label input-label'
        = f.text_field :shipping_address, class: 'form-control', placeholder: t('settings_page.address'), value: initial_shipping_value(:address)
        -if !@order_address.errors[:shipping_address].empty?
          %span.help-block= "#{t('settings_page.address')} #{@order_address.errors[:shipping_address][0]}" 

      .form-group{ class: ("has-error" if !@order_address.errors[:shipping_city].empty?) }
        = f.label :shipping_city, t('settings_page.city'), class: 'control-label input-label'
        = f.text_field :shipping_city, class: 'form-control', placeholder: t('settings_page.city'), value: initial_shipping_value(:city)
        -if !@order_address.errors[:shipping_city].empty?
          %span.help-block= "#{t('settings_page.city')} #{@order_address.errors[:shipping_city][0]}" 

      .form-group{ class: ("has-error" if !@order_address.errors[:shipping_zip].empty?) }
        = f.label :shipping_zip, t('settings_page.zip'), class: 'control-label input-label'
        = f.text_field :shipping_zip, class: 'form-control', placeholder: t('settings_page.zip'), value: initial_shipping_value(:zip)
        -if !@order_address.errors[:shipping_zip].empty?
          %span.help-block= "#{t('settings_page.zip')} #{@order_address.errors[:shipping_zip][0]}" 

      .form-group.select{ class: ("has-error" if !@order_address.errors[:shipping_country].empty?) }
        = f.label :shipping_country, t('settings_page.country'), class: 'control-label input-label'
        = f.country_select(:shipping_country, {selected: @selected_ship}, {class: "form-control", placeholder: t('settings_page.country_placeholder')})
        -if !@order_address.errors[:shipping_country].empty?
          %span.help-block= "#{t('settings_page.country')} #{@order_address.errors[:shipping_country][0]}" 

      .form-group{ class: ("has-error" if !@order_address.errors[:shipping_phone].empty?) }
        = f.label :shipping_phone, t('settings_page.phone'), class: 'control-label input-label'
        = f.text_field :shipping_phone, class: 'form-control', placeholder: t('settings_page.phone_placeholder'), value: @phone_code_ship
        -if !@order_address.errors[:shipping_phone].empty?
          %span.help-block= "#{t('settings_page.phone')} #{@order_address.errors[:shipping_phone][0]}" 

    .form-group.checkbox
      %label.checkbox-label.use-billing-address
        %input.checkbox-input#use-billing-address{type: "checkbox", hidden: "true", name: "use_billing"}
        %span.checkbox-icon
          %i.fa.fa-check
        %span.checkbox-text Use Billing Adress
  = f.hidden_field :order_id, value: @order.id 
  .col-md-12.general-text-align.mb-60
    %p.in-gold-500.font-18 Order Summary
    %table.general-summary-table
      %tr
        %td
          %p.font-16 Item Total:
        %td
          %p.font-16 €#{round_price(@order.subtotal)}
      %tr
        %td
          %p.font-16 Discount:
        %td
          %p.font-16 #{count_discount(@order.subtotal, @order.discount)}
      %tr
        %td
          %p.font-16 Order Total:
        %td
          %p.font-16 €#{round_price(@order.total)}
  .col-md-12
    = button_tag "Save and Continue", class: "btn mb-20 center-block checkout-btn", id: "addresses-checkout-btn"
